body {
    background-color: rgb(65, 109, 167);
}

p {
    background-image: url("bakgrund.jpg");
    font-size: 3vmax;
    color: rgb(37, 67, 106);
    border-style: solid;
    border-width: 1vh;
    border: rgb(25, 62, 109);
    width: 70vh;
}

button {
    color: rgb(65, 109, 167);
    background-color: rgb(172, 209, 243);
    padding: 1%;
    text-decoration: none;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}