p {
    background-color: rgb(172, 209, 243);
    font-size: 3vmax;
    color: rgb(37, 67, 106);
    width: auto;
    padding: 2%;
    font-family: 'Signika', sans-serif;
    border-style: solid;
    border-width: 0.2vmax;
    border-color: rgb(27, 79, 146);
}

button {
    color: rgb(65, 109, 167);
    background-color: rgb(172, 209, 243);
    padding: 1%;
    text-decoration: none;
    font-size: 150%;
    font-family: 'Signika', sans-serif;
    border-style: solid;
    border-width: 0.2vmax;
    border-color: rgb(27, 79, 146);
}