body {
  background-color: rgba(255, 255, 255, 0.481);
  color: rgb(96, 141, 201);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

b {
  background-image: url("bakgrund.jpg");
}

.header {
  background-image: url("bakgrund.jpg");
}

h1 {
  justify-content: center;
  background-color: white;
}

.user {
  padding-left: 5%;
  background-color: rgb(172, 209, 243);
  background-image: url("bakgrund.jpg");
  width: 450px;
}

.user-info {
  padding: 3%;
  width: auto;
}

.om-mig {
  font-size: 150%;
}

.user-about {
  background-color: rgb(96, 141, 201);
  width: 450px;
  font-size: 75%;
}
.profile {
  background-color: rgb(172, 209, 243);
  background-image: url("bakgrund.jpg");
  padding: 10px;
  width: 300px;
}

.profile-info {
  background-color: white;
  padding: 3%;
}

.about-me {
  background-color: rgb(255, 255, 255);
  width: 17%;
  padding: 3%;
  padding-top: 1%;
}

input {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(65, 109, 167);
  border-width: 5px;
  font-size: 150%;
  color: rgb(96, 141, 201);
  padding: 3%;
  padding-left: 5%;
}